extends layout

block content

    .container
        a.pull-right(href='/add')
          button.btn.btn-success
            i.fa.fa-plus(aria-hidden='true')
            |  Добавить новый

      
        h2 Список сайтов

        table.table.table-striped
            tr
                th title
                th site
                th email
                th
                th

            each site in sites
                tr
                    td= site.title
                    td= site.url
                    td= site.email
                    td
                        a(href='/'+'#{site._id}')
                            button.btn.btn-warning
                                i.fa.fa-pencil-square-o(aria-hidden='true')
                    td
                        button.btn.btn-danger(data-toggle='modal', data-target='#'+'#{site._id}'+'Delete')
                            i.fa.fa-times(aria-hidden='true')

    //-@TODO DELETE FORM
    each site in sites
        .modal.fade(id='#{site._id}Delete' role='dialog')
            .modal-dialog
                // Modal content
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title Сайт '#{site.title}' будет удален
                    .modal-body
                        .container  
                            .row
                                label Название: 
                                p #{site.title}
                            .row
                                label Адрес: 
                                p #{site.url}
                            .row
                                label e-mail: 
                                p #{site.email}
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
                        a(href='/'+'#{site._id}/delete')
                            button.btn.btn-danger Удалить сайт


    //- script.
    //-     function edit (site) {
    //-         alert('edit', site);
    //-         console.log('edit', site);
    //-         $.ajax({
    //-             url: '/'+site,
    //-             //- type: 'PUT',
    //-             type: 'PATCH',
    //-             dataType: 'application/json',
    //-             data: site,
    //-             success: console.log('edit', site)
    //-         });
    //-     };
