extends layout

block content

    .container
        if !!site
            a(href='/')
              button.btn.btn-default Назад
            h3= site.title
            button.btn.btn-danger(data-toggle='modal', data-target='#'+'#{site._id}'+'Delete') удалить
            form(method='post', action='/'+'#{site._id}')
                .form-group
                    label(for='title') Название
                    input.form-control(placeholder='My Site', name='title', id='title', type='text', value='#{site.title}')
                .form-group
                    label(for='url') Адрес
                    input.form-control(placeholder='http://site.ru', name='url', id='url', type='text', value='#{site.url}')
                .form-group
                    label(for='mail') e-mail
                    input.form-control(placeholder='mail@example.ru', name='email', id='mail', type='text', value='#{site.email}')
                .form-group
                    button.btn.btn-success(type='submit') Сохранить


            //-@TODO DELETE FORM
            //- each site in sites
            .modal.fade(id='#{site._id}Delete' role='dialog')
                .modal-dialog
                    // Modal content
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal') ×
                            h4.modal-title Сайт '#{site.title}' будет удален 
                        .modal-body
                            .container  
                                .row
                                    label Название: 
                                    p #{site.title}
                                .row
                                    label Адрес: 
                                    p #{site.url}
                                .row
                                    label e-mail: 
                                    p #{site.email}

                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
                            a(href='/'+'#{site._id}/delete')
                                button.btn.btn-danger Удалить сайт    

        else
            h3 Добавить новый сайт 
            a.pull-right(href='/')
              button.btn.btn-default 
              | Назад
            form(method='post', action='/')  
                .form-group
                    label(for='title') Название
                    input.form-control(placeholder='My Site', name='title', id='title', type='text')
                .form-group
                    label(for='url') Адрес
                    input.form-control(placeholder='http://site.ru', name='url', id='url', type='text')
                .form-group
                    label(for='mail') e-mail
                    input.form-control(placeholder='mail@example.ru', name='email', id='mail', type='text')
                .form-group
                    button.btn.btn-success(type='submit') Сохранить
